{% extends 'management/base.html' %}
{% block content %}
{% load static %}
<!-- tailwind cdn -->
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<style>
    .conten,.conten_i {
        overflow-y: auto; /* Enable vertical scrolling */
        scrollbar-width: thin; /* Thin scrollbar */
        max-height: 500px; /* Maximum height before scrolling */
        scroll-behavior: smooth; /* Smooth scrolling behavior (optional) */
    }
    .conten_i{
        max-height: 200px;
        margin-top: 30px;
        
    }
</style>

<div class="conten bg-white p-10 rounded-lg">
    {% if history %}
        {% for task in history %}
        <div class="conten_i w-full p-6  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-4">
            <h5 class="flex justify-between  mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ task.sample_id }} <span><button onclick="openPrintPage('{% url 'recommedation:recommedation_cert' sample_id=task.sample_id %}')" class="bg-black m-30 rounded-md p-1 m-1 text-white font-thin text-sm">Certificate</button><button onclick="openPrintPage('{% url 'management:invoice'%}')" class="bg-black m-30 rounded-md p-1 text-white font-thin text-sm">Invoice</button></span></h5>
            <br>
            <i><b><u>Analysis:</u></b></i>
            <br><br>
            {% include 'analysis/water_chemical.html' with sample=task.chemical %}
            {% include 'analysis/water_chemical.html' with sample=task.microbio %}
            {% include 'analysis/water_chemical.html' with sample=task.full %}
            <br><br>
            <span>
                <i><b><u>Interpretation:</u></b></i>
                <br>        
                {{ task.chemical.interpretation }}
                {{ task.microbio.interpretation }}
                {{ task.full.interpretation }}
            </span>
            <br><br>
            <i><b><u>Recommendation:</u></b></i>
            <br>
            {{ task.chemical.recommendation }}
            {{ task.microbio.recommendation }}
            {{ task.full.recommendation }}
        </div>
        {% endfor %}
    {% else %}
    <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">No History Available</h5>
    </div>
    {% endif %}
</div>
<script>
    function openPrintPage(url) {
        // Open the external page in a new window
        window.open(url, '_blank', 'height=600,width=800');
    }
</script>
{% endblock %}
